@import "../../assets/styles/mixins";

.search-todo {
   position: relative;
   @include wh(280px, 40px);

   .ant-input {
      padding-left: 40px;
      height: 100%;
   }

   .anticon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      @include wh(18px, 18px);

      svg {
         @include wh100;
      }
   }
}

.todo-tables {
   margin-top: 24px;
}