@import "../../assets/styles/mixins";

.todo-table {
   @include font(16px, 500, "arial-medium");
   padding: 16px;
   box-shadow: inset 0 0 28px -9px $staticColor;
   border-radius: $staticRadius;
}

.todo-table + .todo-table {
   margin-top: 32px;
}