.sign-form {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;

   form {
      width: 400px;
      padding: 64px 48px;
      border-radius: 8px;
      box-shadow: 0px 0px 28px 16px rgba(169,180,194,1);

      .ant-form-item {
         display: block;
      }

      .sign-link {
         margin-bottom: 24px;
      }

      h2 {
         margin-bottom: 24px;
      }
   }
}